<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Level Submission</title>
</head>

<body>
	<h1>Level Submission</h1>
	<div>
		<strong>Name: </strong><%= name %><br>
        <strong>Data: </strong><br><%= info %>
		
		<br><hr><a href="/">HOME</a>
	</div>
    
</body>

</html>