<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chinese Review</title>
</head>
<body>
    <div id="content">
    
        <a href="/searchLevel">Play Game</a><br><br>

        <a href="/characterLookup">test character lookup api</a><br><br>

        <a href="/addLevel">create and name a level</a>

    </div>
    
</body>
</html>